.div-url{
    margin-top: 5rem;
    text-align: center
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    // width: 50%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

  .div-image {
      position: fixed;
      margin-left: 10rem;
  }